<div class="container">
    <div class="pull-left editable">
        <div class="pull-left">
            <h3><a href="#" editable-text="model.program.title">{{ model.program.title || "Your current programm" }}</a></h3>
        </div>
        <div class="pull-left">
            <span class="edit-visible pull-right"><a href="#"><i class="fa fa-pencil-square-o fa-3x"></i></a></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" ng-repeat="device in model.program.devices">
            <device-widget device="device" editable="1"></device-widget>
        </div>
        <div class="col-md-4 dashed" ng-click="addDevice()">
            <div>
                <!--<p class="text-center"></span><i class="fa fa-plus fa-3x"></i></p>-->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <button class="btn btn-info btn-lg" ng-click="saveProgram()">Save</button>
        <button class="btn btn-warning btn-lg">Cancel</button>
    </div>
    <!--<button class="btn btn-warning btn-lg" type="submit">Stop training</button>-->
</div>