<h3>Profile form</h3>

<div class="container">
    <form class="form-general" role="form">
        <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <div>
                <input type="text" class="form-control" id="title" placeholder="Enter device name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Attributes:</label>

            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Value">
                    </div>
                    <!--<div class="form-group">-->
                    <!--<i class="fa fa-plus fa-2x"></i>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Value">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>