<section class="login-form-section" ng-controller="UserLoginCtrl">
    <div class="box">
        <header class="border-box clearfix" title="Login">
            <h2 class="form-signin-heading">Login</h2>
        </header>
        <div class="box-content">
            <form class="form-signin">
                <!--<h2 class="form-signin-heading">Login</h2>-->
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div>
                    <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="login()">Sign in</button>
                </div>
                <div class="text-center"><span>OR</span></div>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary btn-block" href="#" ng-click="fbLogin()">
                        <i class="fa fa-facebook-square"> Log In</i></a>
                </div>
            </form>
        </div>
    </div>
</section>