<div class="container">
    <div class="row text-center">
        <a ui-sref="program-edit({ programId: 1 })" class="btn btn-info btn-lg" type="submit">Program "A"</a>
    </div>
    <div class="row text-center">
        <a class="btn btn-info btn-lg" type="submit">Program "B"</a>
    </div>
    <div class="row text-center">
        <a class="btn btn-info btn-lg" type="submit">Program "C"</a>
    </div>
    <div class="row text-center">
        <a ui-sref="program-new"><i class="fa fa-plus fa-3x"></i></a>
    </div>
</div>