<div class="container">
    <div class="row">
        <button class="btn btn-info btn-lg" type="submit">Program "A"</button>
        <span>Last training: 2 days ago</span>
    </div>
    <div class="row">
        <button class="btn btn-info btn-lg" type="submit">Program "B"</button>
        <span>Last training: 1 week ago</span>
    </div>
    <div class="row">
        <button class="btn btn-info btn-lg" type="submit">Program "C"</button>
        <span>Last training: 2 weeks ago</span>
    </div>
</div>