<!DOCTYPE html>
<html lang="en" ng-app="trainapp" ng-controller="IndexCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trainapp</title>

    <!-- inject:css --><!-- endinject -->
</head>
<body ng-cloak>


<!-- page header -->
<div class="container">
    <ng-include src="'/src/header.html'" ng-if="loggedIn" nowrap></ng-include>
</div>

<!-- main content -->
<div class="container" ui-view ng-if="httpStatusCode == 200"></div>

<!-- global spinner -->
<div class="container" ng-if="httpStatusCode == 102">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<!-- page footer -->
<div class="container">
    <ng-include src="'/src/footer.html'" nowrap></ng-include>
</div>

<!-- inject:js --><!-- endinject -->

</body>
</html>